.breadcrumb {
    display: flex;
    justify-content: space-between;
}
#marquee{
    background: linear-gradient(to right, #069ce6, #d00288, #f79809);
    box-shadow: 5px 5px 5px rgba(62, 60, 60, 0.6);
}
#card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.success{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
#tf{
    border: none;
}
tr {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 992px) {
    #sidebarToggle {
        margin-left: 10px !important;
    }
}

@media (max-width: 800px) {
    #marquee {
        width: 200px !important;
    }
}

@media (max-width: 768px) {
    table {
        font-size: 15px;
    }

    table>tbody>tr>td>a {
        margin-bottom: 5px;
    }

    table>tbody>tr>td>.btn {
        font-size: 10px;
    }

    form>.btn {
        font-size: 10px;
    }

    table>tbody {
        padding: none;
        margin: none;
    }
}

@media (max-width: 445px) {
    span>svg {
        width: 17px;
        height: 17px;
    }

    .rb>.input-group {
        width: 200px;
    }

    .car>a {
        width: 100px;
    }
}

@media (max-width: 389px) {

    .d-flex>.car {
        width: 90px;
    }
}
