*{
    padding: 0.5px;
}

body{

    display: flex;
}


.container-fulide
{
    width:1000px ;
     height:100% ;
}
#ms{
    width: 1000px
}

#bs{
    margin-top: 150px;
    padding-left: 100px;
}
.btn{
    width: 350px;
}

#bs >input{

    width: 350px;
}

#forgot{
    padding-left: 60px;
    margin-top:110px;
    width: 400px;
}

.footer{
   padding-left:110px;
}


#btn{
    width: 100%;
     border-radius: 23px;
}

#register
{
    margin-top: 30px;
    padding-left: 80px;
}

.form-control{
width: 30px;
}
.col > .btn{
    width: 400px;
    border-radius: 10px;
}

.col > input{
    width: 400px;

}
.bk{
    padding-left: 15px;
}
.error{
    margin-top: 50px;
    padding-left: 50px;
}

#reset
{
    margin-top: 100px;
    padding-left: 60px;
}

.mk{
    width: 340px;
    padding-left: 50px;

}


#had{

 width: 500px;
}


.had > h4{
    padding-left: 100px;
}
.had > small{

    padding-left: 10px;
    font-weight: 500;
}
