* {
    margin: 0;
    padding: 1px;


}

.row>.col-lg-8 {
    top: 0px;
    left: 0px;
    height: 714px;
    height: 700px;


}

.red {
    background-color: aliceblue;

}

.carousel-caption>h2 {
    justify-content: start;

}

.carousel-caption>p {
    font-size: 10px;
}

#login {

    background: transparent url('img/Layer 52.png') 0% 0% no-repeat padding-box;
    opacity: 1;

    margin-top: 50px;
}

.sam {

    padding-left: 80px;

}

.sam>.btn {
    width: 300px;
    margin-top: 4px;
    border-radius: 15px;
}

.mb-2 {

    width: 380px;
    padding-left: 80px;
}

.bk {

    display: flex;
}

.ak>p {

    padding-left: 185px;
    font-size: 1vw;
    margin-top: 3px;
   list-style: none;
}

    

.bk>span {
    padding-left: 100px;
    font-size: 1vw;
    margin-top: 4px;
}


.nm>span {
    color: rgb(133, 131, 131);
    padding-left: 180px;
    font-size: 1vw;
    margin-top: 10px;


}

#sfs {
    margin-top: 10px;

}